<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="">
        <label for="name">Name: </label><input type="text" name="" id="name"> <br>
        <label for="desc">Description: </label><input type="text" name="" id="desc"> <br>
        <label for="name">Website URL: </label><input type="text" name="" id="name"> <br>
        <label for="url">Pricing: </label><input type="text" name="" id="url"> <br>
        <label for="rating">Rating: </label><input type="text" name="" id="rating"> <br>
        <label for="cat">Category: </label><input type="text" name="" id="cat"> <br>
        <label for="review">Review: </label><input type="text" name="" id="review"> <br>

    </form>
</body>
</html>


